{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'css/burgaltenaStyle.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna&display=swap" rel="stylesheet">


    <title>Discover Burgaltena</title>
</head>



<body>



    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'deutsch'%}" style="text-align:center ;">GÄSTEHAUS
                <br />
                ALTENA</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'english' %}">Homepage
                        </a>
                    </li>
                    





                </ul>
            </div>
        </div>
    </nav>









    <!-- LANDING -->
    <header class="masthead">


        <div class="intro-text">

            <div class="intro-heading ">Discover Burgaltena</div>


        </div>

    </header>



    <!--TEXT-->


    <section class="page-section">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="section-heading " id="title">Burgaltena</h2>
                    <h3 class="section-subheading " id="text">Altena Castle (Burg Altena) is a Medieval hill castle in
                        the town of Altena in North Rhine-Westphalia. Built on a spur
                        of Klusenberg hill, the castle lies near the Lenne in the Märkischer Kreis.
                    </h3>

                </div>

                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="section-heading " id="title">Genesis</h2>
                    <h3 class="section-subheading " id="text">Apparently it all started in 1108., when Adolf and Everhard
                        von Berg were granted a piece of land in the Sauerland region
                        by Emperor Henry V in reward for their faithful service. They erected a castle on top of Mount
                        Wulfseck, which they
                        originally called Wulfeshagen, and later renamed Altena. This is one of the several legends of
                        the establishment of the
                        county of Altena and the building of the castle. The fortifications were erected protect the
                        important trade routes of
                        the iron industry in the Sauerland.

                    </h3>

                </div>

                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="section-heading " id="title">Early history
                    </h2>
                    <h3 class="section-subheading " id="text">After the acquisition of the parish land Mark in 1198., the
                        Counts of Altena re-styled themselves as 'Counts of the Mark'
                        or 'Grafen von den Mark' in German. It is under this name that they were to be remembered in
                        history, notably in the
                        Principality of Liège in present-day Belgium, where they would provide three influential
                        Prince-Bishops (known under the
                        Francisied surname 'de La Mark') between 1313. and 1538. Two Counts of La Mark would also become
                        Archbishop-Elector of
                        Cologne (including Engelbert III, who had already been Prince-Bishop of Liège), and two others
                        Prince-Bishops of
                        Münster.
                        In 1368., Adolph III of the Mark inherited the County of Cleves from his uncle John of Cleves.
                        Adolph's son, Adolph IV,
                        would become the first Duke of Cleves in 1417. His own children with Marie of Burgundy would
                        marry into many powerful
                        European families (Bavaria, Brunswick-Lüneburg, Guelders, Navarre), including his daughter Mary
                        who would become the
                        mother of King Louis XII. In the 16th century, the Duchies of Jülich-Berg and Guelders came into
                        the hands of the House
                        of La Mark.


                    </h3>

                    <img class="img-fluid mx-center flex" src="/static/imgs/discBurg/7.png"
                        style="max-width: 100%; height:auto; padding-top: 50px; padding-bottom: 0 ;" alt="">

                </div>


                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="section-heading " id="title">The fall</h2>
                    <h3 class="section-subheading " id="text">From 1392., the Counts of the Mark only resided
                        occasionally at Altena Castle, preferring their properties in Münster,
                        Cologne, Liège and in the Meuse Valley, such as Seraing-le-Château and Sedan. Count Engelbert
                        III of the Mark gave the
                        small settlement at the base of the mountain the rights of liberty (such as self-governance). In
                        1455. the castle burned
                        down and was only re-erected partially.
                        Following the extinction of the House of La Mark in 1609., the County of Mark and Duchy of Cleves
                        were the first states
                        in West Germany to be annexed by Brandenburg-Prussia, in 1614. Altena Castle was turned into a
                        military garrison, then a
                        county jail from 1766. to 1811., and eventually a hospital from 1856. until 1906.

                    </h3>

<img class="img-fluid mx-center flex" src="/static/imgs/discBurg/fall.jpg"
    style="max-width: 100%; height:auto; padding-top: 50px; padding-bottom: 0 ;" alt="">

</div>

<div class="col-lg-12 text-center mx-auto">
    <h2 class="section-heading " id="title">The rise</h2>
    <h3 class="section-subheading " id="text">Due to the 300 year-anniversary of the membership of the County of Mark to
        Brandenburg-Prussia in 1909. plans for a
        reconstruction of the castle began. In 1914 this was completed, apart from the outer bailey and lower gatehouse.
        In 1918.
        the last works were completed.
        In 1912., Richard Schirrmann acquired the castle and transformed it into one of the world's first permanent youth
        hostels, and the first to be housed in a castle. The original rooms are a museum today and the youth hostel
        continues to
        run at a location on the lower castle court yard, opened in 1934.

    </h3>







</div>







                </div>

                <div class="col-lg-12 text-center mx-auto">
                    <h2 class="section-heading " id="title">Photos</h2>


                </div>



            </div>
        </div>



    </section>



    <section class="photos">

        <div class="container">



            <div class="row">
                <div class="col-md-6">
                    <img src="/static/imgs/discBurg/1.png" alt="" class="img img1 img-fluid mx-center"
                        style="max-width: 100%; height:auto;">
                </div>
                <div class="col-md-6">
                    <img src="/static/imgs/discBurg/2.png" alt="" class="img img2 img-fluid mx-center"
                        style="max-width: 100%; height:auto; ">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/imgs/discBurg/3.png" alt="" class="img img3 img-fluid mx-center"
                        style="max-width: 100%; height:auto; ">
                </div>
                <div class="col-md-6">
                    <img src="/static/imgs/discBurg/4.png" alt="" class="img img4 img-fluid mx-center"
                        style="max-width: 100%; height:auto; ">
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <img src="/static/imgs/discBurg/5.png" alt="" class="img img5 img-fluid mx-center"
                        style="max-width: 100%; height:auto;  ">

                </div>



            </div>




            <div class="row ">

                <div class="col-md-6">

                    <img src="/static/imgs/discBurg/6.png" alt="" class="img img6 img-fluid mx-center"
                        style="max-width: 100%; height:auto; ">


                </div>

                <div class="col-md-6">




                    <div class="row-md-6 ">
                        <img src="/static/imgs/discBurg/7.png" alt="" class="img img7 img-fluid mx-center"
                            style="max-width: 100%; height:auto;">

                    </div>

                    <div class="row-md-6">

                        <img src="/static/imgs/discBurg/8.png" alt="" class="img img8 img-fluid mx-center"
                            style="max-width: 100%; height:auto; padding-top: 12%;">


                    </div>



                </div>

            </div>



            <div class="row">

                <div class="col-md-12">
                    <img src="/static/imgs/discBurg/9.png" alt="" class="img img9 img-fluid mx-center"
                        style="max-width: 100%; height:auto;">

                </div>



            </div>





        </div>




    </section>



    <!-- Footer -->
    <footer class="page-footer font-small indigo">


        <h6 class="section-heading text-center " id="distance">Visit us also at:</h6>

        <h6 class="booking section-heading font-weight-bold text-center " id="distance"><a
                href="https://www.booking.com/hotel/de/gastehaus-altena.html" target="blank">Booking.com</a></h6>

    </footer>
    <!-- Footer -->









</body>



<!--BOOTSRAP JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>




<script src="{%static 'js/agency.js'%}"> </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>










</html>